[Desktop Entry]
Name=systemdGenie
GenericName=systemd Management Tool
Comment=Manage systemd units, timers, sessions and config files
Comment[ar]=أدر وحدات systemd والمؤقتات والجلسات وملفات الضبط
Comment[ca]=Gestiona les unitats del sistema, els temporitzadors, les sessions i els fitxers de configuració
Comment[ca@valencia]=Gestiona les unitats del sistema, els temporitzadors, les sessions i els fitxers de configuració
Comment[es]=Gestión de unidades de systemd, temporizadores, sesiones y archivos de configuración
Comment[fr]=Gérer les unités du module « systemd », les chronomètres, les sessions et les fichiers de configuration
Comment[gl]=Xestionar as unidades, temporizadores, sesións e ficheiros de configuración de systemd.
Comment[he]=ניהול יחידות, מתזמנים, הפעלות וקובצי הגדרות של systemd
Comment[ia]=Gere unitates de systemd, horologios, sessiones e files de config
Comment[it]=Gestisce unità, timer, sessioni e file di configurazione di systemd
Comment[ka]=მართეთ systemd-ის ერთეულები, ტაიმერები, სესიები და კონფიგურაციის ფაილები
Comment[lv]=Pārvalda „systemd“ vienības, taimerus, sesijas un konfigurācijas datnes
Comment[nl]=Systemd-eenheden beheren, timers, sessies en configuratiebestanden
Comment[sl]=Upravlja enote systemd, časovnike, seje in datoteke konfiguracij
Comment[sv]=Hantera enheter i systemd, tidtagare, sessioner och inställningsfiler
Comment[tr]=SystemD birimlerini, sayaçlarını, oturumlarını ve yapılandırma dosyalarını yönetin
Comment[uk]=Керування модулями, таймерами, сеансами та файлами налаштувань systemd
Comment[x-test]=xxManage systemd units, timers, sessions and config filesxx
Comment[zh_CN]=管理 systemd 单元、计时器、会话和配置文件
Comment[zh_TW]=管理 systemd 單元、計時器、工作階段與設定檔案
Type=Application
Icon=preferences-system-services
Exec=systsmdgenie
Categories=Qt;KDE;System;
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.systemdgenie

