[Desktop Entry]
Name=SystemdGenie
Name[ar]=جني Systemd
Name[ast]=SystemdGenie
Name[az]=Systemd
Name[bg]=SystemdGenie
Name[ca]=SystemdGenie
Name[ca@valencia]=SystemdGenie
Name[cs]=SystemdGenie
Name[da]=SystemdGenie
Name[de]=SystemdGenie
Name[en_GB]=SystemdGenie
Name[eo]=SystemdGenie
Name[es]=SystemdGenie
Name[et]=SystemdGenie
Name[eu]=SystemdGenie
Name[fi]=SystemdGenie
Name[fr]=Genie « systemd »
Name[gl]=SystemdGenie
Name[he]=SystemdGenie
Name[hi]=SystemdGenie
Name[hu]=SystemdGenie
Name[ia]=SystemdGenie
Name[id]=SystemdGenie
Name[it]=SystemdGenie
Name[ka]=SystemdGenie
Name[ko]=SystemdGenie
Name[lt]=SystemdGenie
Name[lv]=SystemdGenie
Name[nl]=SystemdGenie
Name[pl]=SystemdGenie
Name[pt]=SystemdGenie
Name[pt_BR]=SystemdGenie
Name[ro]=SystemdGenie
Name[sa]=SystemdGenie इति
Name[sl]=SystemdGenie
Name[sv]=SystemdGenie
Name[tr]=SystemdGenie
Name[uk]=SystemdGenie
Name[x-test]=xxSystemdGeniexx
Name[zh_CN]=SystemdGenie
Name[zh_TW]=SystemdGenie
GenericName=Systemd Management Tool
GenericName[ar]=أداة إدارة Systemd
GenericName[az]=Systemd İdarəetmə Aləti
GenericName[bg]=Инструмент за настройване на systemd
GenericName[ca]=Eina per a la gestió del «systemd»
GenericName[ca@valencia]=Eina per a la gestió de «systemd»
GenericName[cs]=Nástroj pro správu Systemd
GenericName[da]=Systemd-håndteringsværktøj
GenericName[de]=Systemd-Verwaltungsprogramm
GenericName[en_GB]=Systemd Management Tool
GenericName[eo]=Systemd-Administrilo
GenericName[es]=Herramienta de gestión de systemd
GenericName[et]=Systemd haldamise tööriist
GenericName[eu]=«Systemd» kudeatzeko tresna
GenericName[fi]=Systemd:n hallintatyökalu
GenericName[fr]=Outil de gestion de « systemd »
GenericName[gl]=Ferramenta de xestión de Systemd
GenericName[he]=כלי לניהול מערכת
GenericName[hi]=सिस्टमड प्रबंधन उपकरण
GenericName[hu]=Systemd kezelőprogram
GenericName[ia]=Instrumento per gerer Systemd
GenericName[id]=Alat Pengelolaan Systemd
GenericName[it]=Strumento per la gestione di systemd
GenericName[ka]=Systemd-ის მართვის ხელსაწყო
GenericName[ko]=Systemd 관리 도구
GenericName[lt]=Systemd tvarkymo įrankis
GenericName[lv]=„Systemd“ pārvaldības rīks
GenericName[nl]=Hulpprogramma voor systemd
GenericName[pa]=Systemd ਪ੍ਰਬੰਧਕੀ ਟੂਲ
GenericName[pl]=Zarządzanie Systemd
GenericName[pt]=Ferramenta de Gestão do Systemd
GenericName[pt_BR]=Ferramenta de gerenciamento do systemd
GenericName[ro]=Unealtă de administrare Systemd
GenericName[sa]=Systemd प्रबन्धन साधन
GenericName[sl]=Orodje za upravljanje s Systemd
GenericName[sv]=Hanteringsverktyg för systemd
GenericName[tr]=Systemd Yönetim Aracı
GenericName[uk]=Засіб керування systemd
GenericName[x-test]=xxSystemd Management Toolxx
GenericName[zh_CN]=Systemd 管理工具
GenericName[zh_TW]=Systemd 管理工具
Comment=Manage systemd units, timers, sessions and config files
Type=Application
Icon=preferences-system-services
Exec=systemdgenie
Categories=Qt;KDE;System;
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.systemdgenie

