[Desktop Entry]
Name=systemdGenie
Name[ar]=جني Systemd
Name[ca]=systemdGenie
Name[ca@valencia]=systemdGenie
Name[eo]=systemdGenie
Name[es]=systemdGenie
Name[fi]=systemdGenie
Name[fr]=systemdGenie
Name[gl]=systemdGenie
Name[he]=systemdGenie
Name[ia]=systemdGenie
Name[it]=systemdGenie
Name[ka]=systemdGenie
Name[lv]=systemdGenie
Name[nl]=systemdGenie
Name[sl]=systemdGenie
Name[tr]=systemdGenie
Name[uk]=systemdGenie
Name[x-test]=xxsystemdGeniexx
Name[zh_CN]=systemdGenie
Name[zh_TW]=systemd 精靈
GenericName=systemd Management Tool
GenericName[ar]=أداة إدارة Systemd
GenericName[ca]=Eina per a la gestió del «systemd»
GenericName[ca@valencia]=Eina per a la gestió de «systemd»
GenericName[eo]=systemd-Administrilo
GenericName[es]=Herramienta de gestión de systemd
GenericName[fi]=systemd-hallinnointityökalu
GenericName[fr]=Outil de gestion de « systemd »
GenericName[gl]=Ferramenta de xestión de systemd
GenericName[he]=כלי לניהול systemd
GenericName[ia]=Instrumento per gerer systemd
GenericName[it]=Strumento per la gestione di systemd
GenericName[ka]=systemd-ის მართვის ხელსაწყო
GenericName[lv]=„systemd“ pārvaldības rīks
GenericName[nl]=Hulpprogramma voor beheer van systemd
GenericName[sl]=Orodje za upravljanje systemd
GenericName[tr]=systemd Yönetim Aracı
GenericName[uk]=Засіб керування systemd
GenericName[x-test]=xxsystemd Management Toolxx
GenericName[zh_CN]=systemd 管理工具
GenericName[zh_TW]=systemd 管理工具
Comment=Manage systemd units, timers, sessions and config files
Comment[ar]=أدر وحدات systemd والمؤقتات والجلسات وملفات الضبط
Comment[ca]=Gestiona les unitats del sistema, els temporitzadors, les sessions i els fitxers de configuració
Comment[ca@valencia]=Gestiona les unitats del sistema, els temporitzadors, les sessions i els fitxers de configuració
Comment[eo]=Mastrumu systemd-unuojn, tempumilojn, seancojn kaj agorddosierojn
Comment[es]=Gestión de unidades de systemd, temporizadores, sesiones y archivos de configuración
Comment[fi]=Hallinnoi systemd-yksiköitä, -ajastimia, -istuntoja ja -asetustiedostoja
Comment[fr]=Gérer les unités du module « systemd », les chronomètres, les sessions et les fichiers de configuration
Comment[gl]=Xestionar as unidades, temporizadores, sesións e ficheiros de configuración de systemd.
Comment[he]=ניהול יחידות, מתזמנים, הפעלות וקובצי הגדרות של systemd
Comment[ia]=Gere unitates de systemd, horologios, sessiones e files de config
Comment[it]=Gestisce unità, timer, sessioni e file di configurazione di systemd
Comment[ka]=მართეთ systemd-ის ერთეულები, ტაიმერები, სესიები და კონფიგურაციის ფაილები
Comment[lv]=Pārvalda „systemd“ vienības, taimerus, sesijas un konfigurācijas datnes
Comment[nl]=Systemd-eenheden beheren, timers, sessies en configuratiebestanden
Comment[sl]=Upravlja enote systemd, časovnike, seje in datoteke konfiguracij
Comment[sv]=Hantera enheter i systemd, tidtagare, sessioner och inställningsfiler
Comment[tr]=systemd birimlerini, sayaçlarını, oturumlarını ve yapılandırma dosyalarını yönetin
Comment[uk]=Керування модулями, таймерами, сеансами та файлами налаштувань systemd
Comment[x-test]=xxManage systemd units, timers, sessions and config filesxx
Comment[zh_CN]=管理 systemd 单元、计时器、会话和配置文件
Comment[zh_TW]=管理 systemd 單元、計時器、工作階段與設定檔案
Type=Application
Icon=preferences-system-services
Exec=systsmdgenie
Categories=Qt;KDE;System;
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.systemdgenie

